PORT=3002

# eformsign API (General Demo Account)
EFORMSIGN_COMPANY_ID=0605ef552c694a96b32738093b8ce8a2
EFORMSIGN_TEMPLATE_ID=2827d85e6add4d08917691eacf958580
EFORMSIGN_API_KEY=948f8810-4f8e-46f1-b6a4-e1275ded2fca
EFORMSIGN_API_KEY_ID=key_taipeicityhospital
EFORMSIGN_SERVER_URL=https://www.eformsign.com
